body{
  background: gray;
  background:url('../images/back.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container{
  max-width: 700px;
  margin-top: 60px;
  background: rgba(255, 255, 255, 0.65);
  padding-bottom: 20px;
}

.container h1{
  text-align: center;
  font-weight: 800;
  font-size: 5em;
}

#new-todo{
  height: 54px;
  font-size: 22px;
  font-weight: 800;
}

#main{
  margin-bottom: -4px;
}

.task-completed{
  text-decoration: line-through;
}

.icon-mark-done{
  margin-right: 12px;
  cursor: pointer;
}

.icon-marked-done{
  color: rgb(30, 197, 104);
}

.icon-mark-delete{
  color: tomato;
  cursor: pointer;
  display: none;
}


#main li:hover .icon-mark-delete{
  display: block;
}

.panel-default{
  margin-right: 15px;
  margin-left: 15px;
}

.footer-links span{
  cursor: pointer;
  margin-right: 4px;
}

.footer-links span:hover{
  text-decoration: underline;
}

.footer-active{
  font-weight: 800;
  text-decoration: underline;
}

#remove_done{
  background: tomato;
  padding: 4px;
  border-radius: 2px;
  color: white;
  font-weight: 800;
}

#mark_all_done{
  background: seagreen;
  padding: 4px;
  border-radius: 2px;
  color: white;
  font-weight: 800;
}

.cat-title{
  padding: 2px;
  border-style: double;
  border-radius: 5px;
  background: #5cb85c;
  color: white;
  font-size: 1.5em;
  font-weight: 800;
  text-align: center;
}